*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.item{
  box-shadow: 1px 1px 5px 3px gray ;
  font-weight: 700;
  display: inline-block;

}
.main{
  width: 100%;
  height: 100vh;
  padding: 50px;
  background:linear-gradient(45deg,black,yellow)
  
}
.cnt{
  
  background: white;
  border-radius: 5%;
  width: 30%;
  margin:auto;
  padding: 20px 0px;
  box-shadow: 3px 3px 2px 1px gray ;
}
 
span{
  color:green;
  font-weight:700;
  font-style: bold;
}
 
 
button:focus{
  outline:none; 
}
li{
  list-style-type: none;
  text-align: center;
  padding:10px 30px;
  
}
 h1,h2,b{
   color:white !important;
   font-weight: 700;
 }
 input:hover{
   outline: none;
 }
 #srch{
   width: 80%;
   transition: width 3s;
 }
 #srch:hover{
  width: 100%;
 }
  
.card:hover{
transform: translateY(-30px);
transition: 1s;
box-shadow: 3px 3px 2px 1px green ;
}
 .card img{
   height: 400px !important;
 }
@media (max-width:768px){
  .inpt{
    display:block;
    margin-left:50px !important;
     
  }
   
}